@inject ICommandRepository CommandRepository
@inject IConnectionRepository ConnectionRepository
@inject IRedisClient RedisClient
@inject AppState AppState

<section>
    <EditForm Model="SelectedConnection">
        <div class="form-group row" style="background-color: rgb(39 39 39); margin-left: -15px; margin-right: -15px; padding-top: 15px; padding-bottom: 15px;">
            <h6 class="control-label col-4" style="color: white;">Connection</h6>
            <div class="col-8">
                <InputSelect class="form-control" @bind-Value="SelectedConnection.Id" @onchange="HandleSelectedConnectionChangedAsync">
                    @foreach (var connection in Connections)
                        {
                        <option value="@connection.Id">@connection.Name</option>
                        }
                </InputSelect>
            </div>
        </div>
    </EditForm>
</section>

<section>
    @if (CommandId.HasValue)
        {
        <h3>Edit Command</h3>
        }
        else
        {
        <h3>New Command</h3>
        }

    <EditForm Model="Command" OnValidSubmit="HandleValidSubmitAsync" OnInvalidSubmit="HandleInvalidSubmit">
        @if (CommandId.HasValue)
            {
            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">
                        Command: @CommandId
                    </label>
                </div>
            </div>
            }

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Command.Name)</label>
                <InputText class="form-control" @bind-Value="Command.Name"></InputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Command.Description)</label>
                <InputText class="form-control" @bind-Value="Command.Description"></InputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Command.Key)</label>
                <InputText class="form-control" @bind-Value="Command.Key"></InputText>
            </div>
        </div>

        @if (!string.IsNullOrWhiteSpace(Command.Key))
            {
                var @params = GetCommandParams();

                foreach (var param in @params)
                {
                <div class="form-group row">
                    <label class="form-label col-4">@param</label>
                    <div class="col-8">
                        <!--
                            Since the dynamic properties aren't known at compile-time, we can't bind to them. Use a plain old HTML
                            input field and simply server-side handle the change event.
                        -->
                        <input type="text" class="form-control" @onchange="@((e) => { HandleCommandParamChanged(param, e?.Value?.ToString()); })" />
                    </div>
                </div>
                }
            }

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-success" @onclick="HandleRunClickAsync">Run</button>
    </EditForm>
</section>

<section>
    @if (Result != null)
    {
        <h6>Result</h6>
        <code>@Result</code>
    }
</section>

@code {
    public int? CommandId
    {
        get => AppState.CommandState.CommandId;
        set => AppState.CommandState.CommandId = value;
    }

    public Command Command { get; set; } = new Command();

    public Connection SelectedConnection = new Connection();

    public ListConnectionsDto[] Connections { get; set; } = Array.Empty<ListConnectionsDto>();

    public string Result { get; set; } = null;

    // Store the dynamic params inside this dictionary for execution later
    private Dictionary<string, string> CommandParams = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        await ReloadCommandAsync();

        Connections = await ConnectionRepository.ListConnectionsAsync();

        // Whenever the state is changed by the parent component, call StateHasChanged to reload the child (this)
        AppState.CommandState.OnChange += async () =>
        {
            await ReloadCommandAsync();

            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };

        await base.OnInitializedAsync();
    }

    private async Task ReloadCommandAsync()
    {
        AppState.Alert.Hide();

        if (CommandId.HasValue)
        {
            Command = await CommandRepository.GetAsync(CommandId.Value);
        }
        else
        {
            Command = new Command();
        }
    }

    private string[] GetCommandParams()
    {
        if (string.IsNullOrWhiteSpace(Command.Key))
            return Array.Empty<string>();

        // find all occurences of {someValue}
        var pattern = new Regex("\\{(.*?)\\}", RegexOptions.Compiled);
        var matches = pattern.Matches(Command.Key);

        return matches.Select(m => m.Value.Replace("{", "").Replace("}", "")).ToArray();
    }

    public void HandleCommandParamChanged(string param, string value)
    {
        if (string.IsNullOrWhiteSpace(value) && CommandParams.ContainsKey(param))
        {
            CommandParams.Remove(param);
        }

        CommandParams[param] = value;
    }

    public async Task HandleRunClickAsync()
    {
        if (GetCommandParams().Count() != CommandParams.Keys.Count)
        {
            AppState.Alert.ShowDanger("Some key parameters do not have a value.");
            return;
        }

        var key = Command.Key.ToString(); // make a copy of the key
        foreach (var param in CommandParams)
        {
            key.Replace($"{{{param.Key}}}", param.Value);
        }

        try
        {
            var result = await RedisClient.GetAsync(SelectedConnection, key);
            Result = result;
        }
        catch (Exception ex)
        {
            Result = ex.ToString();
            AppState.Alert.ShowDanger("Redis client error. See result for details.");
        }
    }

    public async Task HandleSelectedConnectionChangedAsync()
    {
        SelectedConnection = await ConnectionRepository.GetAsync(SelectedConnection.Id);
    }

    public async Task HandleValidSubmitAsync()
    {
        if (CommandId.HasValue)
        {
            await CommandRepository.UpdateAsync(Command);
        }
        else
        {
            var newId = await CommandRepository.AddAsync(Command);

            Command.Id = newId;
            CommandId = newId;
        }

        AppState.Alert.ShowSuccess("Command saved successfully.");
    }

    public void HandleInvalidSubmit()
    {
        AppState.Alert.ShowDanger("There are some errors on the form.");
    }
    }