@inject IConnectionRepository ConnectionRepository
@inject AppState AppState

@if (ConnectionId.HasValue)
{
    <h3>Edit Connection</h3>
}
else
{
    <h3>New Connection</h3>
}

<section>
    <EditForm Model="Connection" OnValidSubmit="HandleValidSubmitAsync" OnInvalidSubmit="HandleInvalidSubmit">
        @if (ConnectionId.HasValue)
        {
            <div class="form-group row">
                <div class="col-12">
                    <label class="form-label">
                        Connection: @ConnectionId
                    </label>
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Connection.Name)</label>
                <InputText class="form-control" @bind-Value="Connection.Name"></InputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Connection.HostUrl)</label>
                <InputText class="form-control" @bind-Value="Connection.HostUrl"></InputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Connection.Port)</label>
                <InputNumber class="form-control" @bind-Value="Connection.Port"></InputNumber>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Connection.User)</label>
                <InputText class="form-control" @bind-Value="Connection.User"></InputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="form-label">@nameof(Connection.Pass)</label>
                <input class="form-control" type="password" @bind="Connection.Pass" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <InputCheckbox @bind-Value="Connection.UseSSL"></InputCheckbox>
                &nbsp;@nameof(Connection.UseSSL)
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
</section>

@code {
    public int? ConnectionId
    {
        get => AppState.ConnectionState.ConnectionId;
        set => AppState.ConnectionState.ConnectionId = value;
    }

    public Connection Connection { get; set; } = new Connection();

    protected override async Task OnInitializedAsync()
    {
        await ReloadConnectionAsync();

        // Whenever the state is changed by the parent component, call StateHasChanged to reload the child (this)
        AppState.ConnectionState.OnChange += async () =>
        {
            await ReloadConnectionAsync();

            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };

        await base.OnInitializedAsync();
    }

    private async Task ReloadConnectionAsync()
    {
        AppState.Alert.Hide();

        if (ConnectionId.HasValue)
        {
            Connection = await ConnectionRepository.GetAsync(ConnectionId.Value);
        }
        else
        {
            Connection = new Connection();
        }
    }

    public async Task HandleValidSubmitAsync()
    {
        if (ConnectionId.HasValue)
        {
            await ConnectionRepository.UpdateAsync(Connection);
        }
        else
        {
            var newId = await ConnectionRepository.AddAsync(Connection);

            Connection.Id = newId;
            ConnectionId = newId;
        }

        AppState.Alert.ShowSuccess("Connection saved successfully.");
    }

    public void HandleInvalidSubmit()
    {
        AppState.Alert.ShowDanger("There are some errors on the form.");
    }
}